<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LightweightProfiling</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h1>Profiling</h1>

<!--    <button type="button" class="btn btn-success" th:href="@{http://localhost:8989/profiling/low}">Low</button>-->
<!--    <button type="button" class="btn btn-warning" th:href="@{http://localhost:8989/profiling/medium}">Medium</button>-->
<!--    <button type="button" class="btn btn-danger" th:href="@{http://localhost:8989/profiling/hard}">Hard</button>-->

    <a th:href="@{http://localhost:8989/profiling/low}">Low</a>
    <a th:href="@{http://localhost:8989/profiling/medium}">Medium</a>
    <a th:href="@{http://localhost:8989/profiling/hard}">Hard</a>

</body>
</html>