<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile Method</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <h1>Profile Method</h1>

    <a type="button" class="btn btn-success" th:href="@{http://localhost:8989/method/profiling/low}">Low</a>
    <a type="button" class="btn btn-warning" th:href="@{http://localhost:8989/method/profiling/medium}">Medium</a>
    <a type="button" class="btn btn-danger" th:href="@{http://localhost:8989/method/profiling/hard}">Hard</a>
    <a type="button" class="btn btn-secondary" th:href="@{http://localhost:8989/}">Main Page</a>

    <h5 th:text="${error}"/>

</body>
</html>